extends ../layout

block content
  h2= title
  ul
    li
      a(href='/admin/tags/') tag
    li
      a(href='/admin/projects/new') new project
  table
    caption Project List
    tr
      th json
      th show
      th edit
      each project in projects
        tr
          td= project
          td
            a(href='/admin/projects/#{project._id}') show
          td
            a(href='/admin/projects/#{project._id}/edit') edit