!!! 5
html(lang='ja')
  head
    meta(name='viewport', content='width=device-width')
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/app.js')
  body
    block content