!!! 5
html(lang='ja')
  head
    meta(name='viewport', content='width=device-width')
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    // script(src='/bootstrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='/components/build.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    script(src='/components/build.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script require('boot')('admin');
  body
    #wrap
      .container
        .navbar
          .navbar-inner
            a.brand(href='/admin') portfolio.uniba.jp
            ul.nav
              li.pull-right: a(href='/admin/projects/new') New project
        div#body
          block content
      #push
    #footer
      .container
        p.muted.credit &copy; 2012. Uniba Inc.
