!!! 5
html(lang='ja')
  head
    meta(name='viewport', content='width=device-width')
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/app.js')
  body
    block content