extends ../layout

block content
  h2= title
  ul
    li
      a(href='/admin/projects/') project

  ol
    - tags.forEach(function(tag){
      li 
        a(href='/admin/tags/#{tag._id}')= tag
    - })
