extends ../layout
block content
  h2= title
  ul
    li
      a(href='/admin/tag/') tag
    li
      a(href='/admin/project/new') new project
  table
    caption Project List
    tr
      th json
      th show
      th edit
      each project in projects
        tr
          td= project
          td
            a(href='/admin/project/#{project._id}') show
          td
            a(href='/admin/project/#{project._id}/edit') edit